/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 form#fl_emploi_search_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    justify-content: end;
    align-items: end;
 }

 div.result_container {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.4rem;
    grid-row-gap: 1.4rem;
 }

 div.result_item {
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
}

div.result_item a div p {
   color: black;
}

/* edit entreprise form */
.fla_edit_entreprise_container {
   padding: 2rem;
   border: 1px solid #E9E9E9;
   position: relative;
   background: white;
   top: 50px;
   width: 800px;
   left: calc(50% - 400px);
   box-shadow: 0px 0px 19px;
   margin-bottom: 4rem;
}
.fla_edit_entreprise_container>form>div {
   margin: 13px;
}
.fla_edit_entreprise_container>form>div>label {
   display: block;
   font-weight: 600;
   margin-bottom: 7px;
}
.fla_edit_entreprise_container>form>div>input {
   width: 100%;
}
textarea {
   height: auto;
}

.collection.fla_emploi_ul>.collection-item {
   line-height: 2.5rem;
}
/* .btn {
   display: inline-block;
   padding: 7px 20px;
   background: #15a92f;
   color: white;
} */